<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">Logo</a>

        <!-- Botão Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Links da Navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Início</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Cadastrar</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <div class="notification-icon">
                <a class="nav-link" href="{% url 'produtos_proximos_validade' %}" title="Produtos próximos da validade">
                    {% if produtos_proximos_validade %}
                        <i class="mingcute--notification-newdot-fill"></i>
                    {% else %}
                        <i class="mingcute--notification-line"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
<style>
    .navbar {
        z-index: 1030; /* Sobrepõe a sidebar */
    }

    .notification-icon i {
        font-size: 1.5rem;
    }

    .navbar-toggler {
        border: none; /* Remove bordas do botão toggler */
    }

    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

    .toggle-sidebar-btn {
        position: fixed;
        top: 20px;
        left: 10px;
        z-index: 1050; /* Sobrepõe elementos abaixo */
    }
</style>
