/* Estilo para a sidebar esquerda */
.custom-sidebar {
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: white;
    display: none;
    z-index: 1000; /* Garante que a sidebar fique no topo */
  }
  
  /* Estilo para a sidebar direita (caso necessário) */
  #rightMenu {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: white;
    display: none;
    z-index: 1000;
  }
  